/* ======================= Cards ====================== */
.navbar-search{
  border: 0;
  height: 40px;
  background: #ddd url('../imgs/search.svg');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  border-radius: 6px;
  padding-left: 36px;
  width: 180px;
  font-size: 16px;
  
}
.fa{
  padding-right: 15px;
}
.search-form{
  margin-top: 10px;
  border-bottom: 2px solid rgba(0,0,0,.1);
  overflow: hidden;
  display:flex;
   align-items: center;
  border-radius: 5px;

 }
a{
  text-decoration: none;
}
button a{
  color: white;
}
.search-form form{
  background: url("../imgs/search.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}
.search-form input{
  border: 2px solid rgba(0,0,0,.1);
  font-size: 25px;
  padding:0 1.2rem;
  width:150px;
  height:45px;
  text-transform: none;
  color:#444;
}
.search-form select{
  border: 2px solid rgba(0,0,0,.1);
  font-size: 20px;
  width:17%;
  height:45px;
  text-transform: none;
  color:#444;
}

/* .search-form label{
  padding:1.2rem;
  border: 2px solid rgba(0,0,0,.1);
  height:70px;
  font-size: 2.5rem;
  padding-right: 15px;
  color:#444;
  cursor: pointer;
} */

/* .search-form label:hover{
  color:#4682b4;
} */
.cardBox {
    position: relative;
    width: 80%;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
  .cardBox .card {
    position: relative;
    /* background: var(--white); */
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
  }
  
  .cardBox a{
    text-decoration: none;
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .cardBox  .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: var(--blue);
  }
  
  .cardBox  .cardName {
    color: black;
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .cardBox .iconBx {
    font-size: 30px;
    color: var(--black2);
    padding: 8px;
  }
  
  /*.cardBox .card:hover {
    background: var(--blue);
  }*/
  .cardBox #go_to:hover .numbers,
  .cardBox #go_to:hover .cardName,
  .cardBox #go_to:hover .iconBx,
  .cardBox #go_to:hover a {
    color: var(--white);
  }
 
.card a{
    text-decoration: none;
}
#go_to{
    position: relative;
    background: var(--white);
    padding: 30px;
    border: none;
    display: flex;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 10, 0.151);
}
#go_to:hover{
    background: var(--blue);
    color: var(--white);
}
#go_to div{
    margin: 20px;
}


.viewBook{
  /* background-color: red; */
  /* min-height: 20px; */
  width: 100%;
  padding: 19px;
  margin-bottom: 20px;
  /* background-color: #f5f5f5; */
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
.typeName{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 20px;
    font-weight: bold;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-transform: uppercase;
      font-size: 25px;
}
#add_book{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin: 25px;
    text-decoration: none;
    padding: 6px 12px;
    /* margin-top: 100px; */
    font-size: 14px;
    font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
#delet_type{
  color: #fff;
  background-color: rgb(241, 17, 17);
  border-color: #a42e2e;
  margin: 25px;
  text-decoration: none;
  padding: 6px 12px;
  /* margin-top: 100px; */
  font-size: 14px;
  font-weight: normal;
text-align: center;
white-space: nowrap;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}
#export{
  color: #fff;
  background-color: #40754C;
  margin: 25px;
  text-decoration: none;
  padding: 6px 12px;
  /* margin-top: 100px; */
  font-size: 14px;
  font-weight: normal;
text-align: center;
white-space: nowrap;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}
#add_type{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin: 25px;
  text-decoration: none;
  padding: 6px 12px;
  /* margin-top: 100px; */
  font-size: 14px;
  font-weight: normal;
text-align: center;
white-space: nowrap;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}
.viewBook button{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.viewBook table{
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
  }
#myTable{
  display: block;
}
  
  .viewBook table td, .viewBook table th{
    /* border: 1px solid #ddd; */
    padding: 8px;
  }
  .viewBook table td img{
    border: 2px solid black;
  }
  .viewBook table tr:nth-child(even){background-color: #f2f2f2;}
  
  .viewBook table tr:hover {background-color: #ddd;}
  
  .viewBook table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #d9edf7;
    color: #31708f;
  }
.editSpan{
  color: white;
  background-color: rgb(241, 170, 17);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.btn-edit{
  color: white;
  background-color: rgb(241, 170, 17);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.deletSpan{
    color: white;
    background-color: rgb(241, 17, 17);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

.btn-danger{
    color: white;
    background-color: rgb(241, 17, 17);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.viewSpan{
    color: white;
    background-color: rgb(4, 148, 52);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  
}
.btn-view{
  color: white;
  background-color: rgb(4, 148, 52);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

}

       
.book-grid{
  background-color: #E6E6FA;
  /* border: 2px solid #4682b4; */
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0/15%);
  margin: 10px;
  top: -100%;
  left: 50%;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  transform: translate(-50%, -50%);
  justify-content: center;
  transition: all .5s;
  opacity: 0;
}
.book-grid.open{
  opacity: 1;
  top: 100%;
}
.btn-close{
  border: 0;
  background-color: red;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
}
#btn-add{
  border: 0;
  background-color: rgb(0, 255, 98);
  font-weight: bold;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
}
.formUser{
  border: 1px solid #ddd;
  padding: 10px;
}
.formUser th{
  margin: 5px;
}
.formUser tr{
  margin: 2px;
}
.error {
  background: #F2DEDE;
  color: #A94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #D4EDDA;
  color: #40754C;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}
/* .........=====================....... */

/* Style the search container */
.search-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  width: 30%;
  height: 4%;
  margin-top: 27px;
}

/* Style the search input */
.search-container input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 70%;
  color: black;
  border: #96a6dd 2px solid;
}

/* Style the search button */
.search-container button {
  /* float: right; */
  border: #000 2px solid;
  padding: 10px 15px;
  background: #96a6dd;
  font-size: 17px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Add hover effect to the search button */
.search-container button:hover {
  background: #ccc;
}

/* Style the search icon */
.search-container button i {
  color: black;
}